<div class="modal buy-modal" data-modal="byu-modal">
  <button type="button " class="buy-close-button js-modal-close">
    <svg class="byu-close-icon" width="24px" height="24px">
      <use href="./img/icons.svg#xclose"></use>
    </svg>
  </button>
  <h2 class="byu-modal-title"><span class="title-axent">buy </span>now</h2>
  <ul>
    <li>
      <picture>
        <!-- Tablet&Desktop -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/modal-buy/choco-1tab@1x.webp 1x,
            ./img/modal-buy/choco-1tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/modal-buy/choco-1tab@1x.png 1x,
            ./img/modal-buy/choco-1tab@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/modal-buy/choco-1mob@1x.webp 1x,
            ./img/modal-buy/choco-1mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/modal-buy/choco-1mob@1x.png 1x,
            ./img/modal-buy/choco-1mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          sizes="(min-width: 768px) 120px, (min-width: 375px) 84px, 100vw"
          class="buy-modal-img img"
          src="./img/modal-buy/choco-1tab@1x.png"
          alt=""
          widht="120"
          height="107"
          loading="lazy"
        />
      </picture>
    </li>
    <li>
      <picture>
        <!-- Tablet&Desktop -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/modal-buy/choco-2tab@1x.webp 1x,
            ./img/modal-buy/choco-2tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/modal-buy/choco-2tab@1x.png 1x,
            ./img/modal-buy/choco-2tab@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/modal-buy/choco-2mob@1x.webp 1x,
            ./img/modal-buy/choco-2mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/modal-buy/choco-2mob@1x.png 1x,
            ./img/modal-buy/choco-2mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          sizes="(min-width: 768px) 120px, (min-width: 375px) 84px, 100vw"
          class="buy-modal-img img"
          src="./img/modal-buy/choco-2tab@1x.png"
          alt=""
          widht="120"
          height="107"
          loading="lazy"
        />
      </picture>
    </li>
    <li>
      <picture>
        <!-- Tablet&Desktop -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/modal-buy/choco-3tab@1x.webp 1x,
            ./img/modal-buy/choco-3tab@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/modal-buy/choco-3tab@1x.png 1x,
            ./img/modal-buy/choco-3tab@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/modal-buy/choco-3mob@1x.webp 1x,
            ./img/modal-buy/choco-3mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/modal-buy/choco-3mob@1x.png 1x,
            ./img/modal-buy/choco-3mob@2x.png 2x
          "
          type="image/png"
        />
        <img
          sizes="(min-width: 768px) 120px, (min-width: 375px) 84px, 100vw"
          class="buy-modal-img img"
          src="./img/modal-buy/choco-3tab@1x.png"
          alt=""
          widht="120"
          height="107"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
</div>
