<div class="modal buy-modal" data-modal="buy-modal">
  <button type="button" class="buy-close-button btn js-modal-close">
    <svg class="buy-close-icon" width="24px" height="24px">
      <use href="./img/icons.svg#xclose"></use>
    </svg>
  </button>
  <h2 class="buy-modal-title title">
    <span class="title-axent">buy </span>now
  </h2>
  <<<<<<< HEAD
  <div class="buy-modal-item-container">
    <ul class="buy-modal-list list">
      <li class="buy-modal-item">
        <div class="buy-modal-item-btn">
          <picture class="buy-img-product">
            <!-- Tablet&Desktop -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal-buy/choco-1tab@1x.webp 1x,
                ./img/modal-buy/choco-1tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal-buy/choco-1tab@1x.png 1x,
                ./img/modal-buy/choco-1tab@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal-buy/choco-1mob@1x.webp 1x,
                ./img/modal-buy/choco-1mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal-buy/choco-1mob@1x.png 1x,
                ./img/modal-buy/choco-1mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="buy-modal-img img"
              src="./img/modal-buy/choco-1tab@1x.png"
              alt="pieses of dark chokolate"
              width="120"
              height="107"
              loading="lazy"
            />
          </picture>
          <button class="buy-modal-btn btn" type="button">100 g</button>
        </div>
      </li>
      <li class="buy-modal-item">
        <div class="buy-modal-item-btn">
          <picture class="buy-img-product">
            <!-- Tablet&Desktop -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal-buy/choco-2tab@1x.webp 1x,
                ./img/modal-buy/choco-2tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal-buy/choco-2tab@1x.png 1x,
                ./img/modal-buy/choco-2tab@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal-buy/choco-2mob@1x.webp 1x,
                ./img/modal-buy/choco-2mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal-buy/choco-2mob@1x.png 1x,
                ./img/modal-buy/choco-2mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="buy-modal-img img"
              src="./img/modal-buy/choco-2tab@1x.png"
              alt="pieces dark and white chocolate"
              width="120"
              height="107"
              loading="lazy"
            />
          </picture>
          <button class="buy-modal-btn btn" type="button">200 g</button>
        </div>
      </li>
      <li class="buy-modal-item">
        <div class="buy-modal-item-btn">
          <picture class="buy-img-product">
            <!-- Tablet&Desktop -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal-buy/choco-3tab@1x.webp 1x,
                ./img/modal-buy/choco-3tab@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal-buy/choco-3tab@1x.png 1x,
                ./img/modal-buy/choco-3tab@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal-buy/choco-3mob@1x.webp 1x,
                ./img/modal-buy/choco-3mob@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal-buy/choco-3mob@1x.png 1x,
                ./img/modal-buy/choco-3mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="buy-modal-img img"
              src="./img/modal-buy/choco-3tab@1x.png"
              alt="bar of chocolate"
              width="120"
              height="107"
              loading="lazy"
            />
          </picture>
          <button class="buy-modal-btn btn" type="button">300 g</button>
        </div>
      </li>
    </ul>
  </div>
  <form class="buy-modal-form">
    <!-- Personal information -->
    <label class="buy-modal-form-field" for="name_form"
      >Personal information</label
    >
    <label for="name_form_hidden" class="form-field-hidden"></label>
    <div class="buy-form-name buy-form-container">
      <input
        name="buy-form-name"
        type="text"
        id="name_form"
        class="buy-form-input buy-form-first-name"
        placeholder="Name"
        required
      />
      <input
        name="buy-form-name"
        type="text"
        id="surname_form"
        class="buy-form-input"
        placeholder="Surname"
        required
      />
    </div>

    <!-- Email -->
    <label class="buy-modal-form-field" for="email_form">Email</label>
    <div class="buy-form-container">
      <input
        name="buy-form-email"
        type="email"
        id="email_form"
        class="buy-form-input"
        placeholder="Enter your email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
      />
    </div>
    <!-- Phone number -->
    <div class="buy-form-number-container buy-form-container">
      <label class="buy-modal-form-field" for="number_form">Phone number</label>
      <input
        name="buy-form-number"
        type="tel"
        id="number_form"
        class="buy-form-input"
        placeholder="Phone number"
        pattern="[0-9]{9}"
        required
      />
      <div class="buy-form-country-code">
        <svg class="buy-form-country-flag">
          <use href="./img/icons.svg#ukraine-flag"></use>
        </svg>
        <span class="buy-form-code-text">+380</span>
      </div>
    </div>
    <!-- Card number-->

    <label class="buy-modal-form-field" for="card_form">Card number</label>

    <div class="buy-form-card buy-form-container">
      <input
        name="buy-form-name"
        type="number"
        id="card_form"
        class="buy-form-input"
        placeholder="Enter card"
        required
      />
      <svg class="buy-form-mastercard" width="32px" height="21px">
        <use href="./img/icons.svg#mastercard"></use>
      </svg>
    </div>

    <label class="buy-modal-form-field" for="comment_form">Comment</label>
    <textarea
      name="buy-form-comment"
      class="buy-form-comment"
      id="comment_form"
      required
      placeholder="Enter text"
    ></textarea>
    <button type="submit" class="js-close-button buy-form-submit-button btn">
      submit
    </button>
  </form>
</div>
<div class="js-overlay-modal"></div>
