<div class="backdrop-explore" data-modal>
  <div class="modal-explore">
    <div class="bg-image"></div>
    <div class="submit-explore">
      <button class="close-explore">
        <svg class="icon-close-explore" width="12" height="12">
          <use href="../img/icons.svg#xclose"></use>
        </svg>
      </button>
      <h2 class="title-modal-explore title">
        Explore our <br />
        <span class="new-chokolad">new chocolate</span> first!
      </h2>
      <!-- <div class="input-explore"> -->
      <input
        class="input-explore"
        type="text"
        pattern="email"
        placeholder="Enter your email"
      />
      <button class="btm-submit-explore" type="submit">Submit</button>
      <!-- </div> -->
    </div>
  </div>
</div>
