<!-- <div class="js-overlay-explore"> -->
<div class=" modal-explore" data-modal="modal-explore">    <!-- modal -->
    <div class="bg-image"></div>
    <div class="submit-explore">
      <button type="button" class="close-explore js-modal-close">
        <svg class="icon-close-explore" width="14" height="14">
          <use href="../img/icons.svg#xclose"></use>
        </svg>
      </button>
      <h2 class="title-modal-explore title">
        Explore our <br />
        <span class="new-chokolad">new chocolate</span> first!
      </h2>
      <form class="form-explore">
        <input
          class="input-explore"
          type="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          placeholder="Enter your email"
          required
        />
        <button class="btm-submit-explore js-close-button" type="submit">
          Submit
        </button>
        <button
          class="btm-submit-explore js-close-button btm-tab"
          type="submit"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>
