<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-lg-box">
      <p class="footer-slogan">
        <span class="footer-head-accent">Chocolate</span> a delicious cure for a
        bad day
      </p>
      <div class="footer-sm-box">
        <address class="footer-adr">
          <p class="footer-contact">Contact us</p>
          <ul class="list">
            <li class="item footer-adr-item">
              <a class="link footer-adr-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="item footer-adr-item">
              <a class="link footer-adr-link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <ul class="list footer-socials-list">
          <li class="item">
            <a
              class="footer-socials-link link"
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferer"
              aria-label="Instagram icon"
            >
              <svg class="footer-socials-icon" width="22" height="22">
                <use
                  class="footer-use-mobile"
                  href="./img/icons.svg#instagram_mob"
                ></use>
                <use
                  class="footer-use-tablet"
                  href="./img/icons.svg#instagram_desk_tab"
                ></use>
              </svg>
            </a>
          </li>
          <li class="item">
            <a
              class="footer-socials-link link"
              href="https://twitter.com"
              target="_blank"
              rel="noopener noreferer"
              aria-label="Twitter icon"
            >
              <svg class="footer-socials-icon" width="22" height="22">
                <use
                  class="footer-use-mobile"
                  href="./img/icons.svg#twitter_mob"
                ></use>
                <use
                  class="footer-use-tablet"
                  href="./img/icons.svg#twitter_desk_tab"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul class="list footer-nav-list">
        <li class="item footer-nav-item">
          <a class="link footer-nav-link" href="./index.html">Home</a>
        </li>
        <li class="item footer-nav-item">
          <a class="link footer-nav-link" href="#ingredients"
            >How it&#180;s made?</a
          >
        </li>
        <li class="item footer-nav-item">
          <a class="link footer-nav-link" href="#products">Our products</a>
        </li>
        <li class="item footer-nav-item">
          <a class="link footer-nav-link" href="#selers">Top sellers</a>
        </li>
        <li class="item footer-nav-item">
          <a class="link footer-nav-link" href="#loved">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
