<header class="header-main container">
  <div class="header-container">
     <nav class="header-nav-container">
      <a class="header-logo link" href="./index.html">
        <span class="header-logo-text">SIMPLY CHOCOLATE</span>
        <svg class="header-logo-icon"  width="21" height="21">
        <use href="../img/icons.svg#logo_desk_tab"></use>
       </svg></a>
   
     <ul class="header-menu-nav list">
        <li class="header-menu-item"><a href="./index.html" class="header-menu-link link">Home</a></li>
        <li class="header-menu-item"><a href="#ingredients" class="header-menu-link link">How it’s made?</a></li>
        <li class="header-menu-item"><a href="#products" class="header-menu-link link">Our products</a></li>
        <li class="header-menu-item"><a href="#sellers" class="header-menu-link link">Top sellers</a></li>
        <li class="header-menu-item"><a href="#loved" class="header-menu-link link">Chocolate is loved</a></li>
     </ul>
    </nav>
     <ul class="header-social-list list">
      <li class="header-social-item">
        <div class="header-social-container">
          <a href="#" target="_blank" rel="noopener noreferrer">
          <svg class="header-social-icons" width="20" height="20">
            <use href="../img/icons.svg#instagram_desk_tab"></use>
          </svg>             
          </a>
        </div>
      </li>
      <li class="header-social-item">
        <div class="header-social-container">
          <a href="#" target="_blank" rel="noopener noreferrer">
          <svg class="header-social-icons" width="20" height="20">
            <use href="../img/icons.svg#twitter_desk_tab"></use>
          </svg> 
          </a>
        </div>
      </li>
     </ul>
     <button class="menu-toggle js-open-menu"
     aria-expanded="false"
     aria-controls="modile-menu">
      <svg class="burger-icon">
        <use href="../img/icons.svg#menu-hamburger"></use>
      </svg>
    </button>
  </div>
</header>

