<section class="hero">
    <div class="container hero-container">
        <div class="hero-container-box">
            <h2 class="visually-hidden">Simply chocolate</h2>
                <h3 class="hero-title">Treat yourself or a loved one to
                our finest ingredients for a moment
                of pure delight!</h3>
                <div class="hero-container-btn">
                    <ul class="list hero-list">
                        <li><button class="hero-btn-modal btn" type="button">Buy now</button></li>
                        <li><button class="hero-btn-anchor btn" type="button"><a class="hero-anchor-link link" href="#ingredients">How it’s made</a></button></li></ul>
                        <button class="hero-btn-scroll" type="button"><a class="link hero-btn-scroll-link" href="#footer">
                            scroll down
                        <svg class="hero-scroll" width="28" height="28">
                        <use href="../img/icons.svg#angle_desk_tab"></use>
                        </svg>
                    </a>
                                </button>
                </div>
        </div>
    </div>
</section>