<section class="hero">
    <div class="container hero-container">
        <div class="hero-container-box">
            <h2 class="visually-hidden">Simply chocolate</h2>
                <h3 class="hero-title">Treat yourself or a loved one to
                our finest ingredients for a moment
                of pure delight!</h3>
                <ul class="list hero-list">
                    <li><button class="hero-btn-modal" type="button">Buy now</button></li>
                    <li><button class="hero-btn-anchor" type="button"><a class="hero-anchor-link link" href="#ingredients">How it’s made</a></button></li>
                    <li><button class="hero-btn-scroll" type="button"><a class="link" href="#">
                        scroll down
                    <svg class="hero-scroll" width="28" height="28">
                    <use href=""></use>
                    </svg>
                </a>
            </button></li>
                </ul>
        </div>
    </div>
</section>