<section>
  <div class="container how-made-container">
    <h2 id="ingrediens" class="title how-made-title">
      How it’s
      <span class="how-made-titlepart">made?</span>
    </h2>
    <div class="how-made-box">
      <div class="how-made-thumb">
        <iframe
          class="how-made-video"
          src="https://www.youtube.com/embed/xPe1jMuX32s"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          style="border: none"
          allowfullscreen
        ></iframe>
      </div>
      <div class="how-made-description">
        <p class="how-made-proposal">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-made-list list">
          <li class="how-made-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-made-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-made-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-made-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-made-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
