<section id="ingredients" class="how-made-section">
  <div class="container how-made-container">
    <h2 class="title how-made-title">
      How it’s
      <span class="how-made-titlepart">made?</span>
    </h2>
    <div class="how-made-box">
      <div class="how-made-thumb video">
        <button type="button" class="video-btn" aria-label="Play video">
          <svg class="play-btn" width="35" height="35">
            <use href="./img/icons.svg#play-btn"></use>
          </svg>
        </button>
      </div>
      <div class="how-made-description">
        <p class="how-made-proposal">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="list">
          <li class="how-made-item">
            <p>
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="how-made-item">
            <p>
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="how-made-item">
            <p>
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="how-made-item">
            <p>Heat the mixture over low heat, letting it barely boil.</p>
          </li>
          <li class="how-made-item">
            <p>
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
