<section class="our-prodacts-section section">
    <div >
    <h2 class="title-our-prodacts title">OUR <span class="title-acent-color">PRODUCTS</span></h2>
    <ul class="our-products-list list">
        <li class="our-products-item item">
        <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/orange.webp 1x, ../img/our-products/orange2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/orange.jpg 1x, ../img/our-products/orange2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/orange.webp 1x, ../img/our-products/orange2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/orange.jpg 1x, ../img/our-products/orange2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/orange.webp 1x, ../img/our-products/orange2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/orange.jpg 1x, ../img/our-products/orange2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/orange.jpg"
                      alt="Dark chocolate"
                      width="230"
                      height="201"
                      />
                </picture>
                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">ORANGE</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">45 UAH</button>
                </div>
    </li>
    <li class="our-products-item item">
                 <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/apple-cranberry.webp 1x, ../img/our-products/apple-cranberry@2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/apple-cranberry.jpg 1x, ../img/our-products/apple-cranberry@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/apple-cranberry.webp 1x, ../img/our-products/apple-cranberry@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/apple-cranberry.jpg 1x, ../img/our-products/apple-cranberry@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/apple-cranberry.webp 1x, ../img/our-products/apple-cranberry@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/apple-cranberry.jpg 1x, ../img/our-products/apple-cranberry@2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/apple-cranberry.jpg"
                      alt="Milk chocolate APPLE&CRANBERRY"
                      width="230"
                      height="201"/>
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">APPLE&CRANBERRY</h3>
                    <p class="text-card-our-prodacts">Milk chocolate</p>
                    <button class="our-prodacts-button" type="button">50 UAH</button>
                </div>
    </li>
    <li class="our-products-item item">
         <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/lime-sea-salt.webp 1x, ../img/our-products/lime-sea-salt@2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/lime-sea-salt.jpg 1x, ../img/our-products/lime-sea-salt@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/lime-sea-salt.webp 1x, ../img/our-products/lime-sea-salt@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/lime-sea-salt.jpg 1x, ../img/our-products/lime-sea-salt@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/lime-sea-salt.webp 1x, ../img/our-products/lime-sea-salt@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/lime-sea-salt.jpg 1x, ../img/our-products/lime-sea-salt@2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/lime-sea-salt.jpg"
                      alt="Milk chocolate APPLE&CRANBERRY"
                      width="230"
                      height="201"/>
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">LIME&SEA SALT</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">66 UAH</button>
                </div>
    </li>
    <li class="our-products-item item">
         <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/pineapple.webp 1x, ../img/our-products/pineapple@2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/pineapple.jpg 1x, ../img/our-products/pineapple@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/pineapple.webp 1x, ../img/our-products/pineapple@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/pineapple.jpg 1x, ../img/our-products/pineapple@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/pineapple.webp 1x, ../img/our-products/pineapple@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/pineapple.jpg 1x, ../img/our-products/pineapple@2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/pineapple.jpg"
                      alt="Dark chocolate Pineapple"
                      width="230"
                      height="201"/>
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">PINEAPPLE</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">54 UAH</button>
                </div>
    </li>
    <li class="our-products-item item">
                 <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/classic.webp 1x, ../img/our-products/classic@2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/classic.jpg 1x, ../img/our-products/classic@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/classic.webp 1x, ../img/our-products/classic@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/classic.jpg 1x, ../img/our-products/classic@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/classic.webp 1x, ../img/our-products/classic@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/classic.jpg 1x, ../img/our-products/classic@2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/classic.jpg"
                      alt="Milk chocolate Classic"
                      width="230"
                      height="201"/>
                </picture>

                 <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">CLASSIC</h3>
                    <p class="text-card-our-prodacts">Milk chocolate</p>
                    <button class="our-prodacts-button" type="button">45 UAH</button>
                </div>
    </li>
    <li class="our-products-item item">
         <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/honey.webp 1x, ../img/our-products/honey@2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/honey.jpg 1x, ../img/our-products/honey@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/honey.webp 1x, ../img/our-products/honey@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/honey.jpg 1x, ../img/our-products/honey@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/honey.webp 1x, ../img/our-products/honey@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/honey.jpg 1x, ../img/our-products/honey@2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/honey.jpg"
                      alt="Milk chocolate Honey"
                      width="230"
                      height="201"/>
                </picture>

                 <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">HONEY</h3>
                    <p class="text-card-our-prodacts">Milk chocolate</p>
                    <button class="our-prodacts-button" type="button">50 UAH</button>
                </div>
    </li>
    <li class="our-products-item item">
           <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/roasted-fruits.webp 1x, ../img/our-products/roasted-fruits@2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/roasted-fruits.jpg 1x, ../img/our-products/roasted-fruits@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/roasted-fruits.webp 1x, ../img/our-products/roasted-fruits@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/roasted-fruits.jpg 1x, ../img/our-products/roasted-fruits@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/roasted-fruits.webp 1x, ../img/our-products/roasted-fruits@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/roasted-fruits.jpg 1x, ../img/our-products/roasted-fruits@2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/roasted-fruits.jpg"
                      alt="Milk chocolate Roasted fruits"
                      width="230"
                      height="201"/>
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">ROASTED FRUITS</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">66 UAH</button>
                </div>
    </li>
    <li class="our-products-item item">
         <picture>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/classic-white.webp 1x, ../img/our-products/classic-white@2x.webp 2x"
                      type="image/webp"/>
                <source
                      media="(min-width: 1200px)"
                      srcset="../img/our-products/classic-white.jpg 1x, ../img/our-products/classic-white@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/classic-white.webp 1x, ../img/our-products/classic-white@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(min-width: 768px)"
                      srcset="../img/our-products/classic-white.jpg 1x, ../img/our-products/classic-white@2x.jpg 2x"
                      type="image/jpg" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/classic-white.webp 1x, ../img/our-products/classic-white@2x.webp 2x"
                      type="image/webp" />
                <source
                      media="(max-width: 767px)"
                      srcset="../img/our-products/classic-white.jpg 1x, ../img/our-products/classic-white@2x.jpg 2x"
                      type="image/jpg" />
                <img
                      src="../img/our-products/classic-white.jpg"
                      alt="White chocolate Classic"
                      width="230"
                      height="201"/>
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts">CLASSIC</h3>
                    <p class="text-card-our-prodacts">White chocolate</p>
                    <button class="our-prodacts-button" type="button">54 UAH</button>
                </div>

            </li>
        </ul>
    </div>
</section>