<section id="products" class="our-prodacts-section section">
      
    <div class="container">
      <h2 class="title title-our-prodacts">our <span class="title-acent-color">products</span></h2> 
      <!-- Slider main container -->
<div class="swiper products-swiper">
      <ul class="list swiper-wrapper"> 
    <!-- Slides -->
    <li class="our-products-item item swiper-slide">
        <picture>
                <source
                      srcset="../img/our-products/image.webp 1x, ../img/our-products/image@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/image.jpg 1x, ../img/our-products/image@2x.jpg 2x"
                      type="image/jpg" />
                <img class="img-products"
                      src="../img/our-products/image.jpg"
                      alt="Dark chocolate"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>
                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">ORANGE</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">45 UAH</button>
                </div>
    </li>
    <li class="our-products-item item swiper-slide">
                 <picture>
                <source
                      srcset="../img/our-products/image8.webp 1x, ../img/our-products/image8@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/image8.jpg 1x, ../img/our-products/image8@2x.jpg 2x"
                      type="image/jpg" />
                
                <img class="img-products"
                      src="../img/our-products/image8.jpg"
                      alt="Milk chocolate APPLE&CRANBERRY"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">APPLE&CRANBERRY</h3>
                    <p class="text-card-our-prodacts">Milk chocolate</p>
                    <button class="our-prodacts-button" type="button">50 UAH</button>
                </div>
    </li>
    <li class="our-products-item item swiper-slide">
         <picture>
                <source
                      srcset="../img/our-products/lime-sea-salt.webp 1x, ../img/our-products/lime-sea-salt@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/lime-sea-salt.jpg 1x, ../img/our-products/lime-sea-salt@2x.jpg 2x"
                      type="image/jpg" />
                <img class="img-products"
                      src="../img/our-products/lime-sea-salt.jpg"
                      alt="Dark chocolate lime-sea-salt"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">LIME&SEA SALT</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">66 UAH</button></div>
                     </li>   
           
    <li class="our-products-item item swiper-slide">
         <picture>
                <source
                      srcset="../img/our-products/pineapple.webp 1x, ../img/our-products/pineapple@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/pineapple.jpg 1x, ../img/our-products/pineapple@2x.jpg 2x"
                      type="image/jpg" />
                <img class="img-products"
                      src="../img/our-products/pineapple.jpg"
                      alt="Dark chocolate Pineapple"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">PINEAPPLE</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">54 UAH</button>
                </div>
    </li>
    <li class="our-products-item item swiper-slide">
                 <picture>
                <source
                      srcset="../img/our-products/classic.webp 1x, ../img/our-products/classic@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/classic.jpg 1x, ../img/our-products/classic@2x.jpg 2x"
                      type="image/jpg" />
                <img class="img-products"
                      src="../img/our-products/classic.jpg"
                      alt="Milk chocolate Classic"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>

                 <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">CLASSIC</h3>
                    <p class="text-card-our-prodacts">Milk chocolate</p>
                    <button class="our-prodacts-button" type="button">45 UAH</button>
                </div>
    </li>
      <li class="our-products-item item swiper-slide">
         <picture>
                <source
                      srcset="../img/our-products/honey.webp 1x, ../img/our-products/honey@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/honey.jpg 1x, ../img/our-products/honey@2x.jpg 2x"
                      type="image/jpg" />
                <img class="img-products"
                      src="../img/our-products/honey.jpg"
                      alt="Milk chocolate Honey"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>

                 <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">HONEY</h3>
                    <p class="text-card-our-prodacts">Milk chocolate</p>
                    <button class="our-prodacts-button" type="button">50 UAH</button>
                </div>
    </li>
      <li class="our-products-item item swiper-slide">
           <picture>
                <source
                      srcset="../img/our-products/roasted-fruits.webp 1x, ../img/our-products/roasted-fruits@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/roasted-fruits.jpg 1x, ../img/our-products/roasted-fruits@2x.jpg 2x"
                      type="image/jpg" />
                <img class="img-products"
                      src="../img/our-products/roasted-fruits.jpg"
                      alt="Milk chocolate Roasted fruits"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">ROASTED FRUITS</h3>
                    <p class="text-card-our-prodacts">Dark chocolate</p>
                    <button class="our-prodacts-button" type="button">66 UAH</button>
                </div>
    </li>
     <li class="our-products-item item swiper-slide">
         <picture>
                <source
                      srcset="../img/our-products/classic-white.webp 1x, ../img/our-products/classic-white@2x.webp 2x"
                      type="image/webp"/>
                <source
                      srcset="../img/our-products/classic-white.jpg 1x, ../img/our-products/classic-white@2x.jpg 2x"
                      type="image/jpg" />
                <img class="img-products"
                      src="../img/our-products/classic-white.jpg"
                      alt="White chocolate Classic"
                      width="230"
                      height="201"
                      loading="lazy"
                      />
                </picture>

                <div class="card-our-prodacts">
                    <h3 class="title-card-our-prodacts title">CLASSIC</h3>
                    <p class="text-card-our-prodacts">White chocolate</p>
                    <button class="our-prodacts-button" type="button">54 UAH</button>
                </div> 
            </li>
            </ul> 
            </div>
            
      </div>
     <div class="swiper-pagination products-swiper-pagination"></div> 
</section>
    
        
    
    
   
    
   
    
    
   
 