<section id="loved" class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">
      <span class="action-reviews-title">Chocolate</span> is loved
    </h2>
    <div class="reviews-swiper swiper">
      <ul class="swiper-wrapper reviews-list list reviews-swiper-wrapper">
        <!-- review 1 -->
        <li class="swiper-slide reviews-item">
          <picture class="review-photo">
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-1@1x.webp 1x,
                ./img/reviews/review-photo-2x/review-photo-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-1@1x.png 1x,
                ./img/reviews/review-photo-2x/review-photo-1@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="../img/reviews/review-photo-1x/review-photo-1@1x.png"
              alt="Photo of Victoria Dobrzhanska"
              height="80"
              width="80"
            />
          </picture>

          <div class="review-data">
            <h3 class="review-name">Victoria Dobrzhanska</h3>
            <p class="review-desc">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <!-- review 2 -->
        <li class="swiper-slide reviews-item">
          <picture class="review-photo">
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-2@1x.webp 1x,
                ./img/reviews/review-photo-2x/review-photo-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-2@1x.png 1x,
                ./img/reviews/review-photo-2x/review-photo-2@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="./img/reviews/review-photo-1x/review-photo-2@1x.png"
              alt="Photo of Nazar Babenko"
              height="80"
              width="80"
            />
          </picture>

          <div class="review-data">
            <h3 class="review-name">Nazar Babenko</h3>
            <p class="review-desc">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <!-- review 3 -->
        <li class="swiper-slide reviews-item">
          <picture class="review-photo">
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-3@1x.webp 1x,
                ./img/reviews/review-photo-2x/review-photo-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-3@1x.png 1x,
                ./img/reviews/review-photo-2x/review-photo-3@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="../img/reviews/review-photo-1x/review-photo-3@1x.png"
              alt="Photo of Olena Kampusch"
              height="80"
              width="80"
            />
          </picture>

          <div class="review-data">
            <h3 class="review-name">Olena Kampusch</h3>
            <p class="review-desc">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>
        <!-- review 4 -->
        <li class="swiper-slide reviews-item">
          <picture class="review-photo">
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-4@1x.webp 1x,
                ./img/reviews/review-photo-2x/review-photo-4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-4@1x.png 1x,
                ./img/reviews/review-photo-2x/review-photo-4@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="../img/reviews/review-photo-1x/review-photo-4@1x.png"
              alt="Photo of Natalia Sus"
              height="80"
              width="80"
            />
          </picture>

          <div class="review-data">
            <h3 class="review-name">Natalia Sus</h3>
            <p class="review-desc">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>
        <!-- review 5 -->
        <li class="swiper-slide reviews-item">
          <picture class="review-photo">
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-5@1x.webp 1x,
                ./img/reviews/review-photo-2x/review-photo-5@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-5@1x.png 1x,
                ./img/reviews/review-photo-2x/review-photo-5@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="../img/reviews/review-photo-1x/review-photo-5@1x.png"
              alt="Photo of Danilo Nottingham"
              height="80"
              width="80"
            />
          </picture>

          <div class="review-data">
            <h3 class="review-name">Danilo Nottingham</h3>
            <p class="review-desc">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>
        <!-- review 6 -->
        <li class="swiper-slide reviews-item">
          <picture class="review-photo">
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-6@1x.webp 1x,
                ./img/reviews/review-photo-2x/review-photo-6@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/reviews/review-photo-1x/review-photo-6@1x.png 1x,
                ./img/reviews/review-photo-2x/review-photo-6@2x.png 2x
              "
              type="image/png"
            />

            <img
              src="../img/reviews/review-photo-1x/review-photo-6@1x.png"
              alt="Photo of Irina Tydnyuk"
              height="80"
              width="80"
            />
          </picture>

          <div class="review-data">
            <h3 class="review-name">Irina Tydnyuk</h3>
            <p class="review-desc">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination reviews-swiper-pagination"></div>
    </div>
    <button
      type="button"
      class="review-button btn js-open-modal"
      data-modal="review-modal"
    >
      Leave a review
    </button>
  </div>
</section>
