<section class="section reviews-section">
  <h2 class="reviews-title">Chocolate is loved</h2>
    <div class="swiper mySwiper">
      <ul class="list our-product-swiper-wrapper swiper-wrapper">
        <li class="item our-product-swiper-slide swiper-slide">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/Orange-chokolate-2x-44fe0b01.jpg "
            src="/chocolate-markup-team1/assets/Orange-chokolate-6bd74d32.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">ORANGE</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">45 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/Apple-chokolate-2x-3447ff13.jpg "
            src="/chocolate-markup-team1/assets/Apple-chokolate-32ee3435.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">APPLE&amp;CRANBERRY</p>
          <p class="our-product-text-chocolate">Milk chocolate</p>
          <button type="button" class="our-product-omg-price">50 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/Lime-chokolate-2x-bf8be31b.jpg "
            src="/chocolate-markup-team1/assets/Lime-chokolate-aeaa4b31.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">lime&amp;sea salt</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">66 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide our-product-item">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/PineApple-chokolate-2x-13df3ec9.jpg "
            src="/chocolate-markup-team1/assets/PineApple-chokolate-707bd984.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">pineapple</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">54 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/Classic-milk-chokolate-2x-d6b1e68a.jpg "
            src="/chocolate-markup-team1/assets/Classic-milk-chokolate-9d5fa7c9.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">Classic</p>
          <p class="our-product-text-chocolate">Milk chocolate</p>
          <button type="button" class="our-product-omg-price">45 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/Honey-chokolate-2x-f0c3b38d.jpg "
            src="/chocolate-markup-team1/assets/Honey-chokolate-a04dc83f.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">honey</p>
          <p class="our-product-text-chocolate">Milk chocolate</p>
          <button type="button" class="our-product-omg-price">50 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/Roasted-chokolate-2x-8c56ab3e.jpg "
            src="/chocolate-markup-team1/assets/Roasted-chokolate-88d5e243.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">Roasted fruits</p>
          <p class="our-product-text-chocolate">Dark chocolate</p>
          <button type="button" class="our-product-omg-price">66 UAH</button>
        </li>
        <li class="item our-product-swiper-slide swiper-slide item">
          <img
            class="our-product-img"
            srcset="/chocolate-markup-team1/assets/Classic-white-chokolate-2x-111d10c3.jpg "
            src="/chocolate-markup-team1/assets/Classic-white-chokolate-2c2723fd.jpg"
            alt=""
            width="230"
            height="201"
          />
          <p class="our-product-name-chocolate">Classic</p>
          <p class="our-product-text-chocolate">White chocolate</p>
          <button type="button" class="our-product-omg-price">54 UAH</button>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
