<section class="section-subscribe section-sub">
  <div class="container-subscribe container">
    <div class="content-subscribe">
      <h2 class="title-subscribe title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
      <p class="text-subscribe">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
    </div>
    <button class="button-subsribe btn" type="button">Subscribe</button>
  </div>
</section>

<!-- MODAL-WINDOW -->

<div class="backdrop-subscribe" data-modal>
  <div class="modal-subscribe">
    <button class="close-subscribe">
      <svg class="icon-close-subscribe" width="12" height="12">
        <use href="../img/subscribe/close-subscribe.svg#close-subscribe"></use>
      </svg>
    </button>
    <h2 class="title-modal-subscribe">Explore our new chocolate first!</h2>
    <div class="input-subscribe">
      <input type="text" pattern="email" />
      <button type="submit">Submit</button>
    </div>
  </div>
</div>
