<section class="top-sellers-section">
  <div class="container">
    <h2 class="top-sellers-title">TOP SELLERS</h2>
    <ul class="top-sellers-list list">
      <li class="top-sellers-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/about/img-1_desk@1x.jpg 1x,
              ./images/about/img-1_desk@2x.jpg 2x
            "
            type="image/"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about/img-1_tab@1x.jpg 1x,
              ./images/about/img-1_tab@2x.jpg 2x
            "
            type="image/"
          />
          <img
            class="about-img"
            src="./images/about/img-1_tab@1x.jpg"
            alt="Mustache trim"
            width="330"
            height="235"
            loading="lazy"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/portfolio/img_mob@1x-8.webp 1x,
              ./images/portfolio/img_mob@2x-8.webp 2x
            "
            type="image/webp"
          />
        </picture>
      </li>
      <li class="top-sellers-item"></li>
      <li class="top-sellers-item"></li>
    </ul>
    <p></p>
    <button type="button"></button>
  </div>
</section>
