<section class="top-sellers-section">
  <div class="container">
    <h2 class="top-sellers-title">TOP SELLERS</h2>
    <ul class="top-sellers-list list">
      <li class="top-sellers-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img01desk@1x.webp 1x,
              ./img/top-sellers/img01desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img01desk@1x.jpg 1x,
              ./img/top-sellers/img01desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img01tabl@1x.webp 1x,
              ./img/top-sellers/img01tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img01tabl@1x.jpg 1x,
              ./img/top-sellers/img01tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img01mob@1x.webp 1x,
              ./img/top-sellers/img01mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img01mob@1x.jpg 1x,
              ./img/top-sellers/img01mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="top-sellers-img img"
            src="./img/top-sellers/img01mob@1x.jpg"
            alt=""
            width="335"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img02desk@1x.webp 1x,
              ./img/top-sellers/img02desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img02desk@1x.jpg 1x,
              ./img/top-sellers/img02desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img02tabl@1x.webp 1x,
              ./img/top-sellers/img02tabl@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/top-sellers/img02tabl@1x.jpg 1x,
              ./img/top-sellers/img02tabl@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img02mob@1x.webp 1x,
              ./img/top-sellers/img02mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/top-sellers/img02mob@1x.jpg 1x,
              ./img/top-sellers/img02mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="top-sellers-img img"
            src="./img/top-sellers/img02mob@1x.jpg"
            alt=""
            width="335"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img03desk@1x.webp 1x,
              ./img/top-sellers/img03desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/top-sellers/img03desk@1x.jpg 1x,
              ./img/top-sellers/img03desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="top-sellers-img img"
            src="./img/top-sellers/img03desk@1x.jpg"
            alt=""
            width="335"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <p class="top-sellers-desc">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="top-sellers-btn btn" type="button">Buy now</button>
  </div>
</section>
