<section class="unique-components">
  <div class="container">
    <h2 class="unique-components-tittle">
      it all adds up to one exceptional
      <span class="unique-components-span">taste</span> sensation
    </h2>
    <p class="unique-components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list list">
      <li class="unique-components-item">
        <div class="unique-components-flip">
          <div class="unique-components-front">
            <picture class="unique-components-card">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-1_desk@1x.webp 1x,
                  ./img/unique-components/img-1_desk@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-1_desk@1x.png 1x,
                  ./img/unique-components/img-1_desk@1x.png 2x
                "
                type="image/png" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.webp 1x,
                  ./img/unique-components/img-1_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.png 1x,
                  ./img/unique-components/img-1_mob@2x.png 2x
                "
                type="image/png" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.webp 1x,
                  ./img/unique-components/img-1_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.png 1x,
                  ./img/unique-components/img-1_mob@2x.png 2x
                "
                type="image/png" />
              <img
                class="unique-components-img"
                src="./src/img/unique-components/img-1_mob@2x.png"
                alt="milk chocolate"
                width="224"
                height="171"
                loading="lazy"
            /></picture>
            <h3 class="unique-components-text-card">milk chocolate</h3>
          </div>
          <div class="unique-components-back">
            <h3 class="unique-components-back-tittle">Milk chocolate</h3>
            <ul class="unique-components-btn-list list">
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn">chocolate</button>
              </li>
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn secondary">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-back-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-flip">
          <div class="unique-components-front second">
            <picture class="unique-components-card">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-2_desk@1x.webp 1x,
                  ./img/unique-components/img-2_desk@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-2_desk@1x.png 1x,
                  ./img/unique-components/img-2_desk@1x.png 2x
                "
                type="image/png" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-2_mob@1x.webp 1x,
                  ./img/unique-components/img-2_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-2_mob@1x.png 1x,
                  ./img/unique-components/img-2_mob@2x.png 2x
                "
                type="image/png" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-2_mob@1x.webp 1x,
                  ./img/unique-components/img-2_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-2_mob@1x.png 1x,
                  ./img/unique-components/img-2_mob@2x.png 2x
                "
                type="image/png" />
              <img
                class="unique-components-img"
                src="./src/img/unique-components/img-2_mob@2x.png"
                alt="milk"
                width="224"
                height="171"
                loading="lazy"
            /></picture>
            <h3 class="unique-components-text-card first">milk</h3>
          </div>
          <div class="unique-components-back">
            <h3 class="unique-components-back-tittle">Milk</h3>
            <ul class="unique-components-btn-list list">
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn">milk</button>
              </li>
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn secondary">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-back-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-flip">
          <div class="unique-components-front third">
            <picture class="unique-components-card">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-3_desk@1x.webp 1x,
                  ./img/unique-components/img-3_desk@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-3_desk@1x.png 1x,
                  ./img/unique-components/img-3_desk@1x.png 2x
                "
                type="image/png" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-3_mob@1x.webp 1x,
                  ./img/unique-components/img-3_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-3_mob@1x.png 1x,
                  ./img/unique-components/img-3_mob@2x.png 2x
                "
                type="image/png" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-3_mob@1x.webp 1x,
                  ./img/unique-components/img-3_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-3_mob@1x.png 1x,
                  ./img/unique-components/img-3_mob@2x.png 2x
                "
                type="image/png" />
              <img
                class="unique-components-img"
                src="./src/img/unique-components/img-3_mob@2x.png"
                alt="milk"
                width="224"
                height="171"
                loading="lazy"
            /></picture>
            <h3 class="unique-components-text-card">nuts</h3>
          </div>
          <div class="unique-components-back">
            <h3 class="unique-components-back-tittle">Nuts</h3>
            <ul class="unique-components-btn-list list">
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn">Nuts</button>
              </li>
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn secondary">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-back-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They`re a good source of fiber, healthy fats,
              and plant protein. Plus, they`re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-flip">
          <div class="unique-components-front second">
            <picture class="unique-components-card">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-4_desk@1x.webp 1x,
                  ./img/unique-components/img-4_desk@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-4_desk@1x.png 1x,
                  ./img/unique-components/img-4_desk@1x.png 2x
                "
                type="image/png" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-4_mob@1x.webp 1x,
                  ./img/unique-components/img-4_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-4_mob@1x.png 1x,
                  ./img/unique-components/img-4_mob@2x.png 2x
                "
                type="image/png" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-4_mob@1x.webp 1x,
                  ./img/unique-components/img-4_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-4_mob@1x.png 1x,
                  ./img/unique-components/img-4_mob@2x.png 2x
                "
                type="image/png" />
              <img
                class="unique-components-img"
                src="./src/img/unique-components/img-4_mob@2x.png"
                alt="milk"
                width="224"
                height="171"
                loading="lazy"
            /></picture>
            <h3 class="unique-components-text-card first">
              SEMI - SWEET CHOCOLATE
            </h3>
          </div>
          <div class="unique-components-back">
            <h3 class="unique-components-back-tittle">
              semi - sweet chocolate
            </h3>
            <ul class="unique-components-btn-list list">
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn">
                  sweet chocolate
                </button>
              </li>
              <li class="unique-components-btn-item">
                <button class="unique-components-btn btn secondary">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-back-text sub">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
