<section class="unique-components">
  <div class="container">
    <h2 class="unique-components-tittle">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-components-span">TASTE</span> SENSATION
    </h2>
    <p class="unique-components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list list">
      <li class="unique-components-item">
        <div class="unique-components-flip">
          <div class="unique-components-front">
            <picture class="unique-components-card">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-1_desk@1x.webp 1x,
                  ./img/unique-components/img-1_desk@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/unique-components/img-1_desk@1x.jpg 1x,
                  ./img/unique-components/img-1_desk@1x.jpg 2x
                "
                type="image/jpg" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.webp 1x,
                  ./img/unique-components/img-1_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.jpg 1x,
                  ./img/unique-components/img-1_mob@2x.jpg 2x
                "
                type="image/jpg" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.webp 1x,
                  ./img/unique-components/img-1_mob@2x.webp 2x
                "
                type="image/webp" />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/unique-components/img-1_mob@1x.jpg 1x,
                  ./img/unique-components/img-1_mob@2x.jpg 2x
                "
                type="image/jpg" />
              <img
                class="unique-components-img"
                src="/src/img/unique-components/img-1_mob@1x.png"
                alt="milk chocolate"
                width="224"
                height="171"
                loading="lazy"
            /></picture>
            <h3 class="unique-components-text-card">milk chocolate</h3>
          </div>
          <div class="unique-components-back">
            <h3 class="unique-components-back-tittle">Milk chocolate</h3>
          </div>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-thumb">
          <picture></picture>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-thumb">
          <picture></picture>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-thumb">
          <picture></picture>
        </div>
      </li>
    </ul>
  </div>
</section>
