<section class="unique-components">
  <div class="container">
    <h2 class="unique-components-tittle">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-components-span">TASTE</span> SENSATION
    </h2>
    <p class="unique-components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list list">
      <li class="unique-components-item">
        <div class="unique-components-thumb">
          <picture>
            <!-- Desktop-->
            <source media="(min-width: 1200px)" srcset="" type="image/" />
            <!-- Tablet-->
            <source media="(min-width: 768px)" srcset="" type="image/" />
            <!-- Mobile-->
            <source media="(max-width: 767px)" srcset="" type="image/" />
            <img src="" alt="" class="unique-components-img" />
          </picture>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-thumb">
          <picture></picture>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-thumb">
          <picture></picture>
        </div>
      </li>
      <li class="unique-components-item">
        <div class="unique-components-thumb">
          <picture></picture>
        </div>
      </li>
    </ul>
  </div>
</section>
