.advantages {
  padding: 20px 0;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-secondary-bg-color);
  color: var(--main-text-secondary-color);
}
@media only screen and (min-width: 768px) {
  .advantages {
    padding: 50px 0;
  }
}
.advantages-list {
}

@media only screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages-list {
    gap: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .advantages-item:not(:last-child) {
    padding-right: 28px;
    margin-bottom: 20px;
  }
  .advantages-item:last-child {
    padding-right: 28px;
  }
}
@media only screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 32px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 140px) / 3);
  }
}

.advantages-item-picture {
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}
.advantages-icon {
}
.advantages-item-title {
  font-weight: 600;
  margin-bottom: 18px;
}
.advantages-item-text {
  font-weight: 400;
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
}
