/**
  |============================
  | Modal window "buy now"
  |============================
*/
/* Overlay */
.backdrop-buy {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: var(--overlay-color);
    z-index: var(--overlay-zidx);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    /* display: none; */
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/* Modal container */
.modal-buy {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 311px;
    max-height: 994px;
    padding: 32px 24px;
    background: var(--main-bg-color);
    border-radius: 15px;
    transform: translate(-50%, -50%);
}
/* Btn close modal */
.modal-buy-close {
    position: absolute;
    top: 18px;
    left: 273px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    border: transparent;
    background-color: var(--main-text-secondary-color);

    
}
/* Icon modal btn close */
.modal-buy-icon {
    stroke: #111111;
}
/* Modal-list order */
.modal-title {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

/* Modal title */
.modal-title-buy {
    color: var(--text-accent-color);
}
/* Modal list */
.modal-order {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-order-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;

    background: var(--main-text-secondary-color);
    box-sizing: border-box;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}
/* Modal img */
.modal-img {
    width: 84px;
    height: 69px;
}

.modal-list-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 73px;
    height: 29px;
    background: var(--main-bg-color);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    
        color: var(--main-text-primary-color);
}
/**
  |============================
  | Modal form
  |============================
*/
.label-buy {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
    
        color: #000000;
}
::placeholder {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    
    color: rgba(64, 64, 64, 0.3);
}