.backdrop-explore {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: teal;
}
.close-explore {
}
.icon-close-explore {
}
.modal-explore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 350px;

  background-color: #fafafa;
  background-image: url(../img/);

  border-radius: 15px;
}
.title-modal-explore {
}
.input-explore {
}
