/**
  |============================
  |     footer
  |============================
*/
.footer {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-secondary-color);
    background-color: var(--main-secondary-bg-color);
}

@media only screen and (min-width: 768px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.footer-lg-block {
    padding-bottom: 32px;
    margin-bottom: 32px;
    width: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 768px) {
    .footer-lg-block {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-lg-block {
        padding-bottom: 58px;
    }
}

.footer-slogan {
    margin-bottom: 32px;
    max-width: 300px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .footer-slogan {
        margin-bottom: 0;

        font-size: 28px;
        line-height: 1.21;
    }
}

.footer-head-accent {
    color: var(--text-accent-color);
}

.footer-sm-block {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .footer-sm-block {
        width: 300px;
    }
}

.footer-contact {
    margin-bottom: 14px;

    font-style: normal;
    font-weight: 500;
}

.footer-adr-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-adr-link {
    font-style: normal;

    color: var(--main-text-secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adr-link:hover,
.footer-adr-link:focus {
    color: var(--text-accent-color);
}

.footer-socials-list {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

@media only screen and (min-width: 768px) {
    .footer-socials-list {
        gap: 18px;
    }
}

.footer-socials-link {
    display: block;
}

.footer-socials-icon {
    width: 22px;
    height: 22px;

    stroke: var(--main-text-secondary-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .footer-socials-icon {
        width: 24px;
        height: 24px;
    }
}

.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
    stroke: var(--text-accent-color);
}

@media only screen and (min-width: 768px) {
    .footer-nav-list {
        display: flex;
        gap: 24px;
    }
}

.footer-nav-item:not(:last-child) {
    margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
    .footer-nav-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.footer-nav-link {
    font-weight: 500;
    line-height: 1.14;

    color: var(--main-text-secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    color: var(--text-accent-color);
}