.header-main {
    padding: 20px 20px 14px;
}

 @media only screen and (min-width: 758px){
    .header-main {
        padding: 24px 32px;
    }
}

 @media only screen and (min-width: 1200px){
    .header-main {
        padding: 24px 32px 32px 32px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Навігация */
.header-nav-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-menu-nav{  
    display: none;
}

@media only screen and (min-width: 1200px){
    .header-menu-nav{
        display: flex;  
        gap: 24px;
        align-items: center;
    }
}

.header-menu-item{
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.94;
    letter-spacing: -0.02em;
}

.header-menu-link {
    color: var(--main-text-primary-color);
    transition: color 250ms var(--main-cubik);
}

.header-menu-link:hover {
    color: var(--text-accent-color);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-icon {
    width: 21px; 
    height: 21px;
}

@media only screen and (min-width: 1200px){
    .header-logo-icon {
        width: 24px; 
        height: 24px;
    }
}

.header-logo-text {
    margin-right: 6px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    font-size: 14px;
    color: var(--main-text-primary-color);
}

@media only screen and (min-width: 1200px){
    .header-logo-text {
       line-height: 0.91;
       font-size: 18px;
    }
}
/* Social-icons */
.header-social-list {
    display: none;
}

@media only screen and (min-width: 1200px){
    .header-social-list {
        display: flex;
        justify-content: end;
        width: 163px;
        margin-right: 33px;
        gap: 21px;
    }
}

.header-social-icons {
    fill: none;
    stroke: var(--main-text-primary-color);
    transition: stroke 250ms var(--main-cubik);
}

.header-social-icons:hover {
    stroke: var(--text-accent-color);
}

/* Modal */
.menu-toggle {
    border: none;
    background: transparent;
    cursor: pointer;
}

.burger-icon {
    width: 28px;
    height: 28px;
    stroke-width: 2.5;
}

@media only screen and (min-width: 768px) {
    .burger-icon {
        width: 32px;
        height: 32px;
    }
}

@media only screen and (min-width: 1200px){
    .menu-toggle{
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 136px 32px 20px 20px;
    width: 220px;
    height: 100vh;
    background-color: var(--main-secondary-bg-color);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

@media only screen and (min-width: 768px) { 
    .menu-container {
        width: 290px;
}
}

.close-mobile-menu {
    width: 12px;
    height: 12px;
    stroke: var(--main-text-secondary-color);
  }

@media only screen and (min-width: 768px) { 
    .close-mobile-menu {
        width: 13px;
        height: 13px;
    }
}

.menu-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

@media only screen and (min-width: 768px) { 
    .menu-close {
        width: 28px;
        height: 28px; 
    }
}

.mobile-menu {
    flex: 1;
  }

.menu-container.is-open {
    transform: translateX(0);
  }

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
 }

.mobile-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: -0.02em;
    color: var(--main-text-secondary-color);
  }

 .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    height: calc(100% - 22px);
    gap: 24px;
  }

  .menu-social-list {
    display: flex;
    gap: 20px;
    width: 100%;
 }

  .menu-social-icons {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: var(--main-text-secondary-color);
    transition: stroke 250ms var(--main-cubik);
}

@media only screen and (min-width: 768px) {
    .menu-social-icons {
        width: 24px;
        height: 24px;
    }
}

        
