
/* hidden title */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero {}

.container {
    padding-bottom: 20px;
}
.hero-container {
    display: flex;
    align-items: flex-end;
    height: 620px;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
    url(../img/hero-bg/chocolate-covered-cocoa-powder\ 1@1xmob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
@media only screen and (min-width: 768px) {
.hero-container{
    max-width: 704px;
  }
}



.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;

    color: var(--main-text-secondary-color);
}
@media only screen and (min-width: 768px) {
.hero-title{
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
  }
}

.list {}

.hero-list {
    display: flex;
    row-gap: 32px;
    column-gap: 14px;
    margin-top: 32px;
    justify-content: center;

}

.hero-btn-modal {
    width: 120px;
    height: 41px;

    color: var(--main-text-secondary-color);
    font-weight: 600;
    line-height: 1.21;
    background: var(--text-accent-color);
    border: none;
    border-radius: 100px;
}

.hero-btn-anchor {
    width: 159px;
    height: 41px;
    border: 1px solid var(--main-text-secondary-color);
    border-radius: 100px;
    background: transparent;
}
.hero-anchor-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    
    color: var(--main-text-secondary-color);

}

.hero-btn-scroll {
    margin-top: 32px;
    font-weight: 500;
    border: none;
    background: transparent;
}

.hero-scroll {
    background: wheat;
}
.btn {
    justify-content: center;
    align-items: center;
}
.hero-list-scroll {
    justify-content: start;
}
.hero-btn-scroll-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--main-text-secondary-color);
}