.our-prodacts-section {
 
}

.products-swiper {
 
}

.our-prodacts-container {
    padding: 32px 52px 32px 53px;
background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.title-our-prodacts {
    margin-bottom: 32px;
    font-weight: 600;
}

    @media screen and (min-width: 768px) {
    .title-our-prodacts {
        margin-bottom: 50px; }
}

/*@media only screen and (max-width: 319px) {
.title {
    font-weight: 600;
    font-size: 16px;
    }
}

.title {
    font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .title {
        margin-bottom: 50px;
        font-size: 24px;
        line-height: 1.17;
    }
} */

.title-acent-color {
    color: #FD9222;
}

.our-products-list {
             
}


.our-products-item {
    text-align: center;
    
}


.card-our-prodacts {
   
}

.title-card-our-prodacts {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #111111;
}

.text-card-our-prodacts {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.our-prodacts-button {
    width: 94px;
    height: 33px;
    margin-bottom: 0;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
}

.swiper {
    max-height: 397px;
    max-width: 335px;
}

.swiper-slide {
    text-align: center;
}

.img-products {
    margin-bottom: 8px;
    margin-left: auto;
   margin-right: auto;
}

.products-swiper-pagination {
    margin-top: 20px;
}
