.our-prodacts-section {
 margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .our-prodacts-section {
        margin-bottom: 168px;
    }
}

@media screen and (min-width: 1200px) {
    .our-prodacts-section {
        margin-bottom: 128px;
    }
}

.title-our-prodacts {
    margin-bottom: 32px;
    font-weight: 600;
}

    @media screen and (min-width: 768px) {
    .title-our-prodacts {
        margin-bottom: 50px; }
}


.title-acent-color {
    color: var(--text-accent-color);
}


.our-products-item {

    width: 339px;
    padding: 32px 52px 32px 53px;
    
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

@media screen and (min-width: 768px) {
    .our-products-item { 
        padding: 32px 20px;
    }
}


.title-card-our-prodacts {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #111111;
}

.text-card-our-prodacts {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.our-prodacts-button {
    width: 94px;
    height: 33px;
    margin-bottom: 0;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    cursor: pointer;
}

.our-prodacts-button:hover,
.our-prodacts-button:focus {
    background-color: var(--hover-btn);
}

.swiper-slide {
    text-align: center;
}

.img-products {
    margin-bottom: 8px;
    margin-left: auto;
   margin-right: auto;
}

.products-swiper-pagination {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .products-swiper-pagination {
    margin-top: 32px;
    }
}
