.reviews-section {
  padding-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-section {
    padding-bottom: 128px;
  }
}

.reviews-title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: 600;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-text-primary-color);
}
@media screen and (min-width: 768px) {
  .reviews-title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 117%;
  }
}
.action-reviews-title {
  color: var(--text-accent-color);
}
.reviews-swiper {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .reviews-swiper {
    margin-bottom: 50px;
  }
}
.reviews-swiper-wrapper {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .reviews-swiper-wrapper {
    margin-bottom: 32px;
  }
}

.reviews-item {
  height: 242px;

  padding-top: 42px;
}

.review-photo {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}
.review-data {
  height: 100%;
  padding: 18px;
  padding-top: 56px;

  background-color: #ffffff;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
}
.review-name {
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 133%;
  font-weight: 600;

  text-align: center;

  color: var(--main-text-primary-color);
}
.review-desc {
  font-size: 14px;
  line-height: 129%;

  letter-spacing: -0.02em;

  text-align: center;

  color: rgba(17, 17, 17, 0.7);
}
.reviews-swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;

  border-radius: 13px;

  background-color: var(--text-accent-color);
}
.review-button {
  margin: 0 auto;

  border: 1px solid var(--text-accent-color);
  border-radius: 100px;

  background-color: var(--main-bg-color);

  font-size: 14px;
  line-height: 122%;

  font-weight: 600;

  color: var(--main-text-primary-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubik);
}
@media screen and (min-width: 768px) {
  .review-button {
    font-size: 18px;
  }
}
.review-button:hover,
.review-button:focus {
  background-color: var(--text-accent-color);

  color: var(--main-text-secondary-color);
}
