.reviews-section {
  padding: 36px 0;
}

.reviews-title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: 600;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-text-primary-color);
}
.action-reviews-title {
  color: var(--text-accent-color);
}
.swiper {
}
.swiper-wrapper {
}
.reviews-list {
}
.swiper-slide {
}
.reviews-item {
}

.review-photo {
}
.review-data {
}
.review-name {
}
.review-desc {
}
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;

  border-radius: 13px;

  background-color: var(--text-accent-color);
}
.review-button {
}
.btn {
}
