:root {
  /* fons */
  --maim-text: 'Montserrat', sans-serif;
  /* colors */
  --main-bg-color: #fafafa;
  --main-secondary-bg-color: #1e1823;
  --main-text-primary-color: #111111;
  --main-text-secondary-color: #ffffff;
  --text-accent-color: #fd9222;
  --overlay-color: rgba(46, 47, 66, 0.4);

  /* z-indexes */
  --header-zidx: 10;
  --overlay-zidx: 100;
  --modal-zidx: 1000;

  /* cubik */
  --main-cubik: cubic-bezier(0.4, 0, 0.2, 1);
}
