:root {
  /* fons */
  --maim-text: 'Montserrat', sans-serif;
  /* colors */
  --main-bg-color: #fafafa;
  --main-secondary-bg-color: #1e1823;
  --main-text-primary-color: #111111;
  --main-text-secondary-color: #ffffff;
  --text-accent-color: #fd9222;
}
