.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;

  transition-property: background-color, width, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--main-cubik);
}
.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;

  border-radius: 13px;

  background-color: var(--text-accent-color);
}
