.top-sellers-container {}

.top-sellers-title {
    margin-bottom: 32px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .top-sellers-title {
        margin-bottom: 50px;
    }
}

.top-sellers-title-orange {
    color: var(--text-accent-color);
}

.top-sellers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
    .top-sellers-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 32px 16px;
    }
}

.top-sellers-item {}

.top-sellers-item:last-child {
    order: 10;
}

@media only screen and (min-width: 768px) {
    .top-sellers-item:nth-child(2) {
        order: 9;
    }
}

.top-sellers-item:nth-child(2) {}

@media only screen and (max-width: 1199px) {
    .top-sellers-item:nth-child(4) {
        display: none;
    }
}

.top-sellers-img {
    border-radius: 15px;
}

.top-sellers-desc {
    max-width: 306px;
}

@media only screen and (min-width: 1200px) {
    .top-sellers-desc {
        max-width: 407px;
    }
}

.top-sellers-btn {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px; */
    width: 120px;
    height: 41px;
    border: none;
    margin-right: auto;
    background: #FD9222;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}