img {
    display: block;
    max-width: 100%;
    height: auto;
}

.unique-components {
    padding: 72px 0;
    background-color: var(--main-bg-color);
}

@media only screen and (min-width: 768px) {
    .unique-components {
        padding: 100px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .unique-components {
        padding: 128px 0;
    }
}

.unique-components-tittle {
    max-width: 283px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .unique-components-tittle {
        max-width: 411px;
        margin-bottom: 28px;

        font-size: 24px;
        line-height: 1.17;
    }
}

.unique-components-span {
    color: var(--text-accent-color);
}

.unique-components-text {
    margin-bottom: 32px;

    text-align: center;

    line-height: 1.29;
}

@media only screen and (min-width: 768px) {
    .unique-components-text {
        max-width: 486px;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}


.unique-components-flip {
    position: relative;
    
    max-width: 335px;
    max-height: 270px;
}

.unique-components-flip:hover > .unique-components-front
     {
        transform: rotateY(180deg);
        opacity: 0;
    }

.unique-components-flip:hover > .unique-components-back {
        opacity: 1;
        transform: rotateY(0deg);
    }

.unique-components-front {
display: block;
opacity: 1;

width: 100%;

padding: 28px;

transform: rotateY(0deg);
transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
transition-duration: 500ms;
transition-property: transform, opacity;

background: var(--text-accent-color);
border-radius: 15px;
}


.unique-components-card {
    display: block;

margin-bottom: 25px;}

.unique-components-img {
    margin-right: auto;
    margin-left: auto;
}

.unique-components-text-card {    
text-align: start;

font-weight: 600;
line-height: 1.29;
text-transform: uppercase;

color: var(--main-text-secondary-color);}

.unique-components-back {
    position: absolute;
    opacity: 0;
    display: block;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    padding: 28px;

    transform: rotateY(-180deg);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;

    background: var(--main-text-secondary-color);
    border-radius: 15px;
}

.unique-components-back-tittle {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.unique-components-btn-list {
    display: flex;
    column-gap: 6px;
    margin-bottom: 14px;
}

.unique-components-btn {
    padding: 6px 16px;

    border-radius: 35px;
    border: 1px solid transparent;

    font-size: 10px;
    line-height: 1.2;
    
    color: var(--main-text-secondary-color);
    background: var(--text-accent-color);
}

.secondary {
    border: 1px solid var(--text-accent-color);

    color: var(--main-text-primary-color);
    background-color: var(--main-bg-color);
}
