.unique-components {
    padding: 72px 0;
    background-color: var(--main-bg-color);
}

@media only screen and (min-width: 768px) {
    .unique-components {
        padding: 100px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .unique-components {
        padding: 128px 0;
    }
}

.unique-components-tittle {
    max-width: 283px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .unique-components-tittle {
        max-width: 411px;
        margin-bottom: 28px;

        font-size: 24px;
        line-height: 1.17;
    }
}

.unique-components-span {
    color: var(--text-accent-color);
}

.unique-components-text {
    margin-bottom: 32px;

    text-align: center;

    line-height: 1.29;
}

@media only screen and (min-width: 768px) {
    .unique-components-text {
        max-width: 486px;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}

.unique-components-front {
    display: block;
position: relative;
overflow: hidden;

max-width: 355px;
height: 270px;


background: var(--text-accent-color);
border-radius: 15px;}

@media only screen and (min-width: 375px) {
    .unique-components-front {
    width: 355px;
    }
}

.unique-components-card {
position: absolute;
left: 56px;
top: 28px;
}

.unique-components-text-card {    

position: absolute;
left: 28px;
bottom: 28px;

font-weight: 600;
line-height: 1.29;
text-transform: uppercase;

color: var(--main-text-secondary-color);}

.unique-components-back {
    display: block;
}

.unique-components-back-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: var(--main-text-primary-color);
}